.profile__name {
  margin: 0;
  padding: 0;
  max-width: 350px;
  font-family: 'Inter', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 43px;
  line-height: 48px;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .profile__name {
    margin: 5px 0 0 45px;
    width: 189px;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}
