.movies-card-list {
  margin: 80px auto 30px;
  width: 1140px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 24px;
}

.movies-card-list__button-container {
  margin: 0 auto;
  display: flex;
  width: 1140px;
  height: 166px;
}

.movies-card-list__button {
  margin: 50px auto;
  padding: 0;
  width: 320px;
  height: 36px;
  border: none;
  border-radius: 6px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}

@media (max-width: 1279px) {
  .movies-card-list {
    width: 708px;
    grid-template-columns: 1fr 1fr;
    gap: 36px 30px;
  }

  .movies-card-list__button-container {
    max-width: 768px;
  }
}

@media (max-width: 767px) {
  .movies-card-list {
    margin-top: 50px;
    width: 320px;
    grid-template-columns: 1fr;
    gap: 16px 30px;
  }

  .movies-card-list__button-container {
    max-width: 320px;
  }
}