.not-found {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.not-found__title {
    margin: 250px auto 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 140px;
}

.not-found__subtitle {
    margin: 10px auto 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.not-found__link {
    margin: 185px auto 60px;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #2BE080;
}

@media (max-width: 1279px) {
    .not-found__title {
        margin: 411px auto 0;
    }
}

@media (max-width: 767px) {
    .not-found__title {
        margin: 332px auto 0;
        font-size: 80px;
    }

    .not-found__subtitle {
        margin: 13px auto 0;
        font-size: 12px;
    }

    .not-found__link {
        margin: 285px auto 0;
        font-size: 12px;
    }
}