.portfolio {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.portfolio__title {
    margin: 95px 0 30px 70px;
    padding: 0;
    width: fit-content;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
}

.portfolio__container {
    display: flex;
    justify-content: space-between;
}

.portfolio__line {
    margin: 19px 0 0 70px;
    max-width: 1140px;
    border-bottom: 1px solid;
    border-color: black;
}

.portfolio__text {
    margin: 20px 0 0 70px;
    padding: 0;
    max-width: 460px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -1px;
}

.portfolio__image {
    margin: 20px 75px 0 0;
}
