.promo {
    margin: 20px auto 0;
    width: 1200px;
    height: 493px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #F5F5F5;
}

.promo__title {
    margin: 160px auto 0;
    max-width: 730px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -2px;
    text-align: center;
}

@media (max-width: 1279px) {
    .promo {
        width: 728px;
        height: 834px;
    }

    .promo__title {
        margin: 350px auto 0;
        font-size: 40px;
        line-height: 52px;
        max-width: 660px;
    }
}