@import url(../../vendor/normalize.css);
@import url(../../vendor/fonts/inter-3.19/inter.css);

.app-page {
  min-width: 320px;
  min-height: 100vh;
  background-color: #FFF;
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}

.app-content {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  background-color: #FFF;
}