.app {
  text-align: center;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

.app-content {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 60px;
  background-color: #000;
}

.app-page {
  min-width: 320px;
  min-height: 100vh;
  background-color: #000;
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}

@media (max-width: 767px) {
  .content {
    padding-top: 28px;
    padding-bottom: 36px;
  }
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
