.popup__submit-button {
  margin: 15px 36px 36px 36px;
  padding: 0;
  width: 358px;
  height: 50px;
  background: #000000;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  font-family: 'Inter', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
}

.popup__submit-button:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .popup__submit-button {
    margin: 45px 0 25px 22px;
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}

#popup-confirmation-form-button {
  margin: 32px 36px 36px 36px;
}
