.signup-signin-form__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.signup-signin-form__link:hover {
    opacity: 0.8;
}