.header {
    margin: 0 auto;
    max-width: 880px;
    display: flex;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  }
  
  @media (max-width: 767px) {
    .header {
      max-width: 320px;
      flex-wrap: wrap;
    }
  }

  .header__email {
    margin: 6px 0 0 auto;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
    width: fit-content;
    height: fit-content;
    min-width: 120px;
    min-height: 23px;
}

@media (max-width: 767px) {
    .header__email {
        margin: 6px auto 10px;
        max-width: 320px;
        font-size: 12px;
        order: 3;
    }
}

.header__link {
    margin: 6px 0 0 24px;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    min-width: 50px;
    min-height: 23px
}

.header__link:hover {
    opacity: 0.8;
}

@media (max-width: 1023px) {
    .header__link {
        margin-right: 27px;
    }
}

@media (max-width: 767px) {
    .header__link {
        margin: 6px 27px 0 auto;
    }
}

.header__link_dark {
    color: #A9A9A9;
}

.logo {
    margin: 0 0 41px 0;
    width: 142px;
    height: 33px;
  }
  
  @media (max-width: 1023px) {
    .logo {
      margin: 0 0 15px 27px;
      width: 103.74px;
      height: 24.4px;
    }
  }