.popup__container {
  margin: auto;
  max-width: 430px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 25px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  position: relative;
}

@media (max-width: 767px) {
  .popup__container {
    width: 282px;
  }
}
