.register__logo {
    margin: 0;
    width: 38px;
    height: 38px;
  }

.register__form-container {
    margin: 0 auto;
}

.register__form {
    margin: 0 auto;
    padding-top: 70px;
    width: 396px;
}

.register__title {
    margin: 36px 0 40px 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.register__imput-name {
    margin: 0 0 5px 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #A0A0A0;
}

.register__imput {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.register__line {
    margin: 10px auto 5px;
    width: 396px;
    border-bottom: 1px solid;
    border-color: #E8E8E8;
}

.register__line-last-of-type {
    margin: 10px auto 6px;
    width: 396px;
    border-bottom: 1px solid;
    border-color: #E8E8E8;
}

.register__validation-error-text {
    margin: 6px 0;
    padding: 0;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #EE3465;
}

.register__submit-button {
    margin: 130px auto 0;
    background: #2BE080;
    border-radius: 3px;
    width: 396px;
    height: 45px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #fff;
    border: 0;
    cursor: pointer;
}

.register__signup-question {
    margin: 16px auto 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #A0A0A0;
}

.register__signin-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #2BE080;
    text-decoration: none;
}

@media (max-width: 1279px) {
    .register__form {
        margin: 0 auto;
        padding-top: 232px;
        width: 396px;
    }
}

@media (max-width: 767px) {
    .register__form {
        margin: 0 auto;
        padding-top: 55px;
        width: 260px;
        display: flex;
        flex-direction: column;
    }

    .register__logo {
        margin: 0 auto;
        width: 38px;
        height: 38px;
      }

      .register__title {
        margin: 52px auto 84px;
    }

    .register__submit-button {
        margin: 223px auto 0;
        width: 260px;
        font-size: 12px;
    }

    .register__signup-question {
        margin: 12px auto 0;
        font-size: 12px;
    }

    .register__signin-link {
        font-size: 12px;
    }

    .register__line {
        width: 260px;
    }

    .register__line-last-of-type {
        width: 260px;
    }

    .register__validation-error-text {
        margin: 3px 0;
    }
}