.footer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
}

.footer__line {
    margin: 20px auto;
    width: 1140px;
    border-bottom: 1px solid;
    border-color: #E8E8E8;
}

.footer__container {
    margin: 0 0 20px 0;
    display: flex;
    justify-content: space-between;
}

.footer__text {
    margin: 79px auto 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.footer__year {
    margin: 0 0 0 70px;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
}

.footer__links {
    margin: 0 70px 0 0;
    display: flex;
    gap: 20px;
}

.footer__link {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

@media (max-width: 1279px) {
    .footer {
        max-width: 768px;
    }

    .footer__year {
        margin: 0px 0 0 30px;
    }

    .footer__links {
        margin: 0 30px 0 0;
    }

    .footer__line {
        width: 708px;
    }
}

@media (max-width: 767px) {
    .footer {
        max-width: 320px;
        margin-top: 19px;
    }

    .footer__text {
        font-size: 12px;
        margin-top: 61px;
    }

    .footer__year {
        font-size: 12px;
        margin: 32px auto 0;
    }

    .footer__links {
        margin: 0;
        display: flex;
        gap: 0px;
        flex-direction: column;
        align-items: center;
    }

    .footer__link {
        font-size: 12px;
        margin: 12px 0 0 0;
    }

    .footer__container {
        margin: 0;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .footer__line {
        width: 300px;
    }
}