.login__submit-button {
    margin: 197px auto 0;
    background: #2BE080;
    border-radius: 3px;
    width: 396px;
    height: 45px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #fff;
    border: 0;
    cursor: pointer;
}

.login__submit-button_disabled {
    background: #E5E5E5;
    cursor: auto;
}

@media (max-width: 767px) {
    .login__submit-button {
        margin: 286px auto 0;
        width: 260px;
        font-size: 12px;
    }
}