@import url(./vendor/normalize.css);
@import url(./vendor/fonts/Inter-3.19/inter.css);
@import url(./blocks/body/body.css);
@import url(./blocks/page/page.css);
@import url(./blocks/content/content.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__link/_dark/header__link_dark.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/logo/logo.css);
@import url(./blocks/main/main.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name-button/profile__name-button.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__edit-icon-avatar/profile__edite-icon-avatar.css);
@import url(./blocks/profile/__status/profile__status.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__add-button-plus/profile__add-button-plus.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__delete/element__delete.css);
@import url(./blocks/element/__mask/element__mask.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__sign-like/element__sign-like.css);
@import url(./blocks/element/__sign/element__sign.css);
@import url(./blocks/element/__like/element__like.css);
@import url(./blocks/element/__like/_active/element__like_active.css);
@import url(./blocks/element/__likes-counter/element__likes-counter.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__text/footer__text.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__container/_image/popup__container_image.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__image-sign/popup__image-sign.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__close-icon/popup__close-icon.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__header/popup__header.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(./blocks/popup/__submit-button/popup__submit-button.css);
@import url(./blocks/popup/__submit-button/_inactive/popup__submit-button_inactive.css);
@import url(./blocks/popup/__info-tool-tip-container/popup__info-tool-tip-container.css);
@import url(./blocks/popup/__info-tool-tip-image/popup__info-tool-tip-image.css);
@import url(./blocks/popup/__info-tool-tip-sign/popup__info-tool-tip-sign.css);
@import url(./blocks/signup-signin-form/signup-signin-form.css);
@import url(./blocks/signup-signin-form/__header/signup-signin-form__header.css);
@import url(./blocks/signup-signin-form/__input/signup-signin-form__input.css);
@import url(./blocks/signup-signin-form/__submit-button/signup-signin-form__submit-button.css);
@import url(./blocks/signup-signin-form/__sign/signup-signin-form__sign.css);
@import url(./blocks/signup-signin-form/__link/signup-signin-form__link.css);
