.about-me {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.about-me__title {
    margin: 110px 0 0 70px;
    padding: 0;
    width: fit-content;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: -1px;
}

.about-me__line {
    margin: 25px 0 0 70px;
    max-width: 1140px;
    border-bottom: 1px solid;
    border-color: black;
}

.about-me__container {
    margin: 0 0 0 70px;
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
}

.about-me__subcontainer {
    margin-top: 66px;
    max-width: auto;
}

.about-me__subtitle {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -1px;
    text-align: left;
}

.about-me__status {
    margin-top: 18px;
    padding: 0;
    max-width: 600px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}

.about-me__text {
    margin: 26px 0 0 0;
    padding: 0;
    max-width: 599px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
}

.about-me__link {
    margin: 99px 0 0 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}


@media (max-width: 1279px) {
    .about-me {
        max-width: 768px;
    }

    .about-me__title {
        margin: 90px 0 0 50px;
        max-width: 768px;
    }

    .about-me__line {
        margin: 25px 0 0 50px;
        max-width: 668px;
    }

    .about-me__container {
        margin: 0 0 0 50px;
    }

    .about-me__subtitle {
        font-size: 40px;
        line-height: 40px;
    }

    .about-me__status {
        margin-top: 16px;
        font-size: 12px;
        line-height: 18px;
    }

    .about-me__text {
        margin: 20px 0 0 0;
        max-width: 364px;
        font-size: 12px;
        line-height: 18px;
    }

    .about-me__image {
        margin-right: 50px;
        width: 255px;
        height: 307px;
        border-style: none;
    }

    .about-me__link {
        margin: 85px 0 0 0;
    }
}

@media (max-width: 767px) {
    .about-me {
        max-width: 320px;
    }

    .about-me__title {
        margin: 54px 0 0 14px;
        font-size: 18px;
    }

    .about-me__line {
        margin: 27px 0 0 14px;
        max-width: 292px;
    }

    .about-me__container {
        margin: -5px 0px 0px 14px;
        display: flex;
        flex-direction: column-reverse;
    }

    .about-me__image {
        margin: 0;
        width: 292px;
        height: 352px;
    }

    .about-me__subtitle {
        font-size: 30px;
        margin: -33px 0px 0px 0px;
    }

    .about-me__status {
        font-size: 11px;
        max-width: 292px;
    }

    .about-me__text {
        margin: 20px 0 0 0;
        max-width: 292px;
        font-size: 11px;
        line-height: 16px;
    }

    .about-me__link {
        margin: 40px 0 0 0;
    }
}