.nav-tab {
    margin: 151px auto;
    display: flex;
    gap: 10px;
}

.nav-tab__link {
    margin: 0;
    min-width: 96px;
    min-height: 36px;
    border-radius: 10px;
    background-color: #E8E8E8;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 1279px) {
    .nav-tab {
        margin: 314px auto 30px;
    }
}

@media (max-width: 767px) {
    .nav-tab {
        margin: 212px auto 30px;
        gap: 6px;
    }

    .nav-tab__link {
        min-width: 82px;
        min-height: 26px;
        border-radius: 6px;
        font-size: 10px;
    }
}